In [1]:
import os
import jieba
import numpy as np
import pandas as pd
from collections import Counter

## 將新聞日期存取成datelist

In [2]:
datelist = []
dir_path = './ctee_TSMC'
for file in os.listdir(dir_path):
    file_path = os.path.join(dir_path,file)
    datelist.append(file_path[-14:-4])

## 讀取datelist區間股價

In [3]:
stock_price = pd.read_csv('./TSMC_price_daily/stock_price_2016120020190413.csv',encoding= "big5")
#stock_price = pd.read_csv('C:/Users/USER/github/HW1--data-mining/HW2/TSMC_price_daily/stock_price_2016120020190413.csv',encoding= "big5")

In [24]:
stock_price.iloc[0:10,:]

,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,流通在外股數(千股),...,股價淨值比-TSE,股價淨值比-TEJ,Unnamed: 21,新聞日前一工作日,Unnamed: 23,後推四日工作日,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,2019-04-12,251.5,253.0,251.0,252.0,"13,888","3,496,444",0.0000,0.0536,"25,930,380",...,3.90,4.15,NaN,2019/4/8,253.0,2019/4/12,252.0,NaN,NaN,NaN
1,2019-04-11,253.0,254.0,251.5,252.0,"25,146","6,347,861",-0.7874,0.0970,"25,930,380",...,3.90,4.15,NaN,2019/4/5,246.5,2019/4/10,254.0,NaN,NaN,NaN
2,2019-04-10,253.0,254.5,252.0,254.0,"33,174","8,403,528",0.0000,0.1279,"25,930,380",...,3.93,4.18,NaN,2019/4/5,246.5,2019/4/10,253.0,NaN,NaN,NaN
3,2019-04-09,253.0,254.0,252.0,254.0,"22,745","5,760,337",0.3953,0.0877,"25,930,380",...,3.93,4.18,NaN,2019/4/5,246.5,2019/4/10,253.0,NaN,NaN,NaN
4,2019-04-08,251.0,253.0,250.5,253.0,"46,426","11,682,512",2.6369,0.1790,"25,930,380",...,3.91,4.16,NaN,2019/4/4,246.5,2019/4/9,254.0,NaN,NaN,NaN
5,2019-04-03,249.0,249.0,246.5,246.5,"28,581","7,075,597",0.2033,0.1102,"25,930,380",...,3.81,4.06,NaN,2019/4/3,246.5,2019/4/8,253.0,NaN,NaN,NaN
6,2019-04-02,249.5,249.5,246.0,246.0,"25,189","6,226,523",0.2037,0.0971,"25,930,380",...,3.80,4.05,NaN,2019/4/2,246.0,2019/4/8,253.0,NaN,NaN,NaN
7,2019-04-01,251.0,251.0,245.0,245.5,"35,330","8,758,161",0.0000,0.1362,"25,930,380",...,3.80,4.04,NaN,2019/4/1,245.5,2019/4/8,253.0,NaN,NaN,NaN
8,2019-03-29,243.0,245.5,240.5,245.5,"31,024","7,568,601",1.4463,0.1196,"25,930,380",...,3.80,4.04,NaN,2019/3/29,245.5,2019/4/3,246.5,NaN,NaN,NaN
9,2019-03-28,240.5,242.5,240.0,242.0,"13,998","3,379,510",0.2070,0.0540,"25,930,380",...,3.74,3.98,NaN,2019/3/29,245.5,2019/4/3,246.5,NaN,NaN,NaN

## 將datelist 轉成datetime.dtype

In [5]:
from datetime import datetime ,timedelta
datetimelist = []
for date in datelist :
    datetimelist.append(datetime.strptime(date,"%Y_%m_%d"))
datetimelist[:3]

[datetime.datetime(2016, 12, 7, 0, 0),
 datetime.datetime(2016, 12, 10, 0, 0),
 datetime.datetime(2016, 12, 28, 0, 0)]

## findbusiness day

In [6]:
#pip install business_calendar
from business_calendar import Calendar, MO, TU, WE, TH, FR
cal = Calendar()
te = cal.addbusdays(datetimelist[0],5)
te

datetime.datetime(2016, 12, 14, 0, 0)

## 將時間軸對齊

In [7]:
datetimelist01 = datetimelist[:-4]

## 將datelist 延後四天(business)

In [8]:
datenow = []
for i in range(len(datetimelist)) :
    datenow.append(cal.addworkdays(datetimelist[i],-1))

datefive = []
for i in range(len(datenow)-5) :
    datefive.append(cal.addworkdays(datenow[i],5))

datefives = []
for i in range(len(datenow)-4) :
    datefives.append(datenow[i] + timedelta(7))

## 將stock_pirce_data 日期也轉換成datetime

In [9]:
stock_list = stock_price['年月日'].tolist()

In [25]:
datenow[0:5]

[datetime.datetime(2016, 12, 6, 0, 0),
 datetime.datetime(2016, 12, 9, 0, 0),
 datetime.datetime(2016, 12, 27, 0, 0),
 datetime.datetime(2017, 1, 3, 0, 0),
 datetime.datetime(2017, 1, 12, 0, 0)]

In [11]:
len(datefive)

175

In [26]:
datefives[0:5]

[datetime.datetime(2016, 12, 13, 0, 0),
 datetime.datetime(2016, 12, 16, 0, 0),
 datetime.datetime(2017, 1, 3, 0, 0),
 datetime.datetime(2017, 1, 10, 0, 0),
 datetime.datetime(2017, 1, 19, 0, 0)]

## Filter price by datelist(five days later)

In [13]:
stock_date = []
for date in stock_list :
    stock_date.append(datetime.strptime(date,"%Y/%m/%d"))
stock_date[:3]
stock_price['年月日'] = stock_date

In [14]:
pd1 = pd.DataFrame(datefive,columns = ['年月日'])
fivedays = pd.merge(pd1,stock_price,on=['年月日'],how = 'inner')

## Filter price by datelist(present)

In [15]:
pd2 = pd.DataFrame(datenow,columns = ['年月日'])
nowdays = pd.merge(pd2,stock_price,on=['年月日'],how = 'inner')

In [16]:
pd2.to_csv('nowdate.csv')

In [17]:
pd3 = pd.DataFrame(datefives,columns = ['年月日'])
fivedayss = pd.merge(pd3,stock_price,on=['年月日'],how = 'inner')

## Check

In [18]:
now = nowdays['年月日']
five = fivedays['年月日']

In [19]:
fivedays

,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,流通在外股數(千股),...,股價淨值比-TSE,股價淨值比-TEJ,Unnamed: 21,新聞日前一工作日,Unnamed: 23,後推四日工作日,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,2016-12-13,174.14,174.14,172.27,173.67,"23,692","4,398,859",0.5405,0.0914,"25,930,380",...,3.76,3.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-12-16,173.20,174.60,172.74,172.74,"36,266","6,720,634",-1.0695,0.1399,"25,930,380",...,3.74,3.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-03,169.47,171.34,169.00,170.87,"23,550","4,300,648",0.8264,0.0908,"25,930,380",...,3.70,3.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-10,172.27,173.20,171.34,171.80,"20,691","3,811,496",0.0000,0.0798,"25,930,380",...,3.72,3.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-19,167.60,169.00,167.60,168.53,"25,935","4,673,783",-0.2762,0.1000,"25,930,380",...,3.65,3.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-02-08,171.34,172.27,170.87,171.34,"45,607","8,371,548",-0.5420,0.1759,"25,930,380",...,3.71,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-02-13,174.14,175.54,174.14,175.07,"26,155","4,904,437",1.0782,0.1009,"25,930,380",...,3.79,3.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-02-16,177.41,177.87,175.54,176.47,"28,371","5,360,502",0.0000,0.1094,"25,930,380",...,3.53,3.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-03-02,175.54,176.00,172.74,173.67,"40,879","7,603,470",0.0000,0.1576,"25,930,380",...,3.47,3.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-03-27,181.61,181.61,179.27,180.21,"29,867","5,766,195",0.2597,0.1152,"25,930,380",...,3.60,3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-03-28,182.07,182.07,179.74,181.61,"39,522","7,662,549",0.7772,0.1524,"25,930,380",...,3.63,3.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-04-14,176.94,176.94,175.54,176.47,"31,317","5,909,582",-1.3055,0.1208,"25,930,380",...,3.53,3.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-04-19,175.07,175.07,174.14,174.14,"31,171","5,828,201",-0.7979,0.1202,"25,930,380",...,3.48,3.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-04-20,174.14,175.54,174.14,174.60,"32,697","6,118,457",0.2681,0.1261,"25,930,380",...,3.49,3.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-05-08,185.81,189.08,185.81,189.08,"39,591","7,943,498",2.5316,0.1527,"25,930,380",...,3.78,4.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-05-10,190.48,192.34,190.48,191.88,"31,075","6,369,713",0.9828,0.1198,"25,930,380",...,3.66,4.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-05-15,190.48,192.34,190.48,192.34,"25,922","5,324,070",0.0000,0.1000,"25,930,380",...,3.67,4.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2017-05-16,191.41,191.41,190.01,190.94,"36,604","7,468,111",-0.7282,0.1412,"25,930,380",...,3.64,4.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-05-18,189.08,190.48,188.14,190.01,"22,490","4,559,780",-0.2451,0.0867,"25,930,380",...,3.63,4.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-06-01,191.41,193.28,190.94,193.28,"29,623","6,096,361",1.9704,0.1142,"25,930,380",...,3.69,3.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2017-06-14,194.68,195.61,192.34,193.28,"39,083","8,113,132",-0.4808,0.1507,"25,930,380",...,3.69,3.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-06-15,193.75,194.21,193.28,194.21,"19,486","4,046,560",0.4831,0.0751,"25,930,380",...,3.71,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-06-30,199.24,201.17,199.24,201.17,"31,709","6,580,047",-0.7143,0.1223,"25,930,380",...,3.71,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-06-30,199.24,201.17,199.24,201.17,"31,709","6,580,047",-0.7143,0.1223,"25,930,380",...,3.71,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-07-05,199.72,201.17,199.24,201.17,"23,463","4,868,199",0.7246,0.0905,"25,930,380",...,3.71,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-07-07,199.72,200.20,198.27,198.76,"21,567","4,449,245",-0.7229,0.0832,"25,930,380",...,3.67,3.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-07-10,199.24,199.72,198.76,198.76,"13,326","2,749,724",0.0000,0.0514,"25,930,380",...,3.67,3.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-07-17,207.44,207.92,204.06,205.51,"21,400","4,566,620",0.0000,0.0825,"25,930,380",...,3.79,3.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-08-03,205.51,206.47,205.03,205.99,"27,097","5,779,905",-1.1574,0.1045,"25,930,380",...,3.80,3.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-08-14,205.99,206.47,202.62,203.58,"29,414","6,233,486",-0.7059,0.1134,"25,930,380",...,4.08,3.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,2018-12-28,223.50,225.50,222.50,225.50,"30,156","6,762,447",1.1211,0.1163,"25,930,380",...,3.71,3.71,NaN,2018/10/19,236.0,2018/10/24,229.5,NaN,NaN,NaN
130,2019-01-10,216.00,216.50,214.50,216.00,"20,832","4,491,377",0.2320,0.0803,"25,930,380",...,3.56,3.56,NaN,2018/11/22,219.0,2018/11/27,224.0,NaN,NaN,NaN
131,2019-01-16,218.50,220.00,217.50,217.50,"30,038","6,563,789",-1.5837,0.1158,"25,930,380",...,3.58,3.58,NaN,2018/12/4,234.0,2018/12/10,219.0,NaN,NaN,NaN
132,2019-01-18,219.00,220.00,217.50,218.50,"52,677","11,530,053",-0.9070,0.2031,"25,930,380",...,3.60,3.60,NaN,2018/12/10,219.0,2018/12/14,222.5,NaN,NaN,NaN
133,2019-01-18,219.00,220.00,217.50,218.50,"52,677","11,530,053",-0.9070,0.2031,"25,930,380",...,3.60,3.60,NaN,2018/12/10,219.0,2018/12/14,222.5,NaN,NaN,NaN
134,2019-01-22,220.00,223.00,219.00,223.00,"30,958","6,854,867",0.9050,0.1194,"25,930,380",...,3.67,3.67,NaN,2018/12/12,226.5,2018/12/17,223.5,NaN,NaN,NaN
135,2019-01-23,221.50,222.00,220.00,220.50,"18,671","4,121,110",-1.1211,0.0720,"25,930,380",...,3.63,3.63,NaN,2018/12/13,226.0,2018/12/18,222.5,NaN,NaN,NaN
136,2019-01-24,222.50,222.50,220.50,222.50,"31,348","6,958,753",0.9070,0.1209,"25,930,380",...,3.66,3.66,NaN,2018/12/17,223.5,2018/12/22,221.5,NaN,NaN,NaN
137,2019-01-25,226.50,227.00,225.00,226.00,"48,039","10,870,045",1.5730,0.1853,"25,930,380",...,3.72,3.72,NaN,2018/12/18,222.5,2018/12/24,220.0,NaN,NaN,NaN
138,2019-01-29,222.50,225.00,222.00,222.50,"42,566","9,486,156",-2.8384,0.1642,"25,930,380",...,3.66,3.66,NaN,2018/12/21,223.5,2018/12/26,216.5,NaN,NaN,NaN
139,2019-01-30,220.50,221.50,220.00,221.00,"51,889","11,453,957",-0.6742,0.2001,"25,930,380",...,3.64,3.64,NaN,2019/1/3,215.5,2019/1/8,211.0,NaN,NaN,NaN
140,2019-02-21,235.50,236.50,234.50,236.50,"34,013","8,013,908",0.8529,0.1312,"25,930,380",...,3.89,3.89,NaN,2019/1/23,220.5,2019/1/28,229.0,NaN,NaN,NaN
141,2019-02-22,235.50,236.50,234.00,236.50,"22,032","5,187,054",0.0000,0.0850,"25,930,380",...,3.66,3.89,NaN,2019/1/25,226.0,2019/1/30,221.0,NaN,NaN,NaN
142,2019-02-22,235.50,236.50,234.00,236.50,"22,032","5,187,054",0.0000,0.0850,"25,930,380",...,3.66,3.89,NaN,2019/1/25,226.0,2019/1/30,221.0,NaN,NaN,NaN
143,2019-02-25,237.50,239.00,236.00,238.00,"25,227","5,995,746",0.6342,0.0973,"25,930,380",...,3.68,3.92,NaN,2019/1/28,229.0,2019/2/11,228.0,NaN,NaN,NaN
144,2019-02-26,239.00,240.00,236.50,239.50,"24,586","5,864,298",0.6303,0.0948,"25,930,380",...,3.70,3.94,NaN,2019/2/14,227.0,2019/2/19,229.0,NaN,NaN,NaN
145,2019-02-27,238.50,239.50,237.00,239.00,"37,947","9,052,540",-0.2088,0.1463,"25,930,380",...,3.70,3.93,NaN,2019/2/15,227.0,2019/2/20,234.5,NaN,NaN,NaN
146,2019-03-08,231.00,231.50,229.00,230.00,"22,535","5,183,171",-1.7094,0.0869,"25,930,380",...,3.56,3.79,NaN,2019/2/21,236.5,2019/2/26,239.5,NaN,NaN,NaN
147,2019-03-13,234.00,237.00,234.00,237.00,"22,493","5,308,051",0.6369,0.0867,"25,930,380",...,3.66,3.90,NaN,2019/3/1,239.0,2019/3/6,234.0,NaN,NaN,NaN
148,2019-03-14,239.00,239.00,234.00,234.50,"17,281","4,077,045",-1.0549,0.0666,"25,930,380",...,3.63,3.86,NaN,2019/3/6,234.0,2019/3/11,230.5,NaN,NaN,NaN
149,2019-03-18,239.50,241.00,239.00,241.00,"27,040","6,493,129",0.8368,0.1043,"25,930,380",...,3.73,3.97,NaN,2019/3/11,230.5,2019/3/15,239.0,NaN,NaN,NaN
150,2019-03-20,242.00,242.00,239.50,242.00,"23,055","5,563,557",0.6237,0.0889,"25,930,380",...,3.74,3.98,NaN,2019/3/14,234.5,2019/3/19,240.5,NaN,NaN,NaN
151,2019-03-21,242.50,245.50,241.00,245.50,"27,514","6,710,510",1.4463,0.1061,"25,930,380",...,3.80,4.04,NaN,2019/3/20,242.0,2019/3/25,241.5,NaN,NaN,NaN
152,2019-03-27,242.00,242.50,240.50,241.50,"23,622","5,703,467",-1.0246,0.0911,"25,930,380",...,3.73,3.98,NaN,2019/3/28,242.0,2019/4/2,246.0,NaN,NaN,NaN
153,2019-03-28,240.50,242.50,240.00,242.00,"13,998","3,379,510",0.2070,0.0540,"25,930,380",...,3.74,3.98,NaN,2019/3/29,245.5,2019/4/3,246.5,NaN,NaN,NaN
154,2019-03-29,243.00,245.50,240.50,245.50,"31,024","7,568,601",1.4463,0.1196,"25,930,380",...,3.80,4.04,NaN,2019/3/29,245.5,2019/4/3,246.5,NaN,NaN,NaN
155,2019-04-01,251.00,251.00,245.00,245.50,"35,330","8,758,161",0.0000,0.1362,"25,930,380",...,3.80,4.04,NaN,2019/4/1,245.5,2019/4/8,253.0,NaN,NaN,NaN
156,2019-04-08,251.00,253.00,250.50,253.00,"46,426","11,682,512",2.6369,0.1790,"25,930,380",...,3.91,4.16,NaN,2019/4/4,246.5,2019/4/9,254.0,NaN,NaN,NaN
157,2019-04-09,253.00,254.00,252.00,254.00,"22,745","5,760,337",0.3953,0.0877,"25,930,380",...,3.93,4.18,NaN,2019/4/5,246.5,2019/4/10,253.0,NaN,NaN,NaN
158,2019-04-10,253.00,254.50,252.00,254.00,"33,174","8,403,528",0.0000,0.1279,"25,930,380",...,3.93,4.18,NaN,2019/4/5,246.5,2019/4/10,253.0,NaN,NaN,NaN

In [20]:
fivedays.to_csv('五天後股價.csv',encoding = 'UTF-8')
nowdays.to_csv('當前股價.csv',encoding='UTF-8')

In [49]:
pd.read_csv('C:\\Users\\USER\\github\\HW1--data-mining\\HW2\\當前股價.csv')

FileNotFoundError: File b'HW2\xe7\x95\xb6\xe5\x89\x8d\xe8\x82\xa1\xe5\x83\xb9.csv' does not exist

In [48]:
print(fivedays['收盤價(元)'],nowdays['收盤價(元)'])

0      173.67
1      172.74
2      170.87
3      171.80
4      168.53
5      171.34
6      175.07
7      176.47
8      173.67
9      180.21
10     181.61
11     176.47
12     174.14
13     174.60
14     189.08
15     191.88
16     192.34
17     190.94
18     190.01
19     193.28
20     193.28
21     194.21
22     201.17
23     201.17
24     201.17
25     198.76
26     198.76
27     205.51
28     205.99
29     203.58
        ...
129    225.50
130    216.00
131    217.50
132    218.50
133    218.50
134    223.00
135    220.50
136    222.50
137    226.00
138    222.50
139    221.00
140    236.50
141    236.50
142    236.50
143    238.00
144    239.50
145    239.00
146    230.00
147    237.00
148    234.50
149    241.00
150    242.00
151    245.50
152    241.50
153    242.00
154    245.50
155    245.50
156    253.00
157    254.00
158    254.00
Name: 收盤價(元), Length: 159, dtype: float64 0      169.94
1      173.67
2      168.07
3      170.87
4      172.27
5      172.27
6      171.80
7      176.00
8      178.81
9      182.07
10     178.34
11     178.34
12     178.81
13     184.87
14     189.08
15     190.01
16     193.75
17     191.41
18     193.28
19     197.48
20     198.88
21     202.62
22     202.62
23     201.17
24     201.17
25     201.65
26     198.76
27     207.92
28     208.40
29     205.03
        ...
141    218.50
142    223.00
143    220.50
144    226.00
145    229.00
146    227.00
147    227.00
148    227.00
149    230.00
150    229.00
151    234.50
152    236.50
153    236.50
154    236.50
155    234.00
156    234.00
157    230.50
158    237.00
159    234.50
160    242.00
161    245.50
162    248.50
163    241.50
164    242.00
165    245.50
166    245.50
167    245.50
168    246.00
169    246.50
170    253.00
Name: 收盤價(元), Length: 171, dtype: float64