In [1]:
#!/usr/bin/env python
# coding: utf-8
# In[1]:
from selenium import webdriver
import numpy as np
import pandas as pd
import time
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from pathlib import Path, PureWindowsPath
from selenium.webdriver.chrome.options import Options
import datetime as dt
import os

## Define function

In [2]:
def return_rate(data,etf_name,return_list) :
    for i in range(len(data[etf_name])-1) :
        return_list.append((data[etf_name][i+1] - data[etf_name][i]) / data[etf_name][i])
    return return_list

def load_data (etfcsvpath) :
    etfdata = pd.read_csv(etfcsvpath)
    return etfdata

## Run code

In [3]:
download_path1 = "C:\\Users\\USER\\github\\HW1--data-mining\\HW4\\ETF_merge\\"
file_path_list1 = []
file_name1 =[]
for file in os.listdir(download_path1):
    file_path_list1.append(os.path.join(download_path1, file))
    file_name1.append(file)

name_path = "C:\\Users\\USER\\github\\HW1--data-mining\\HW1\\ETF_data_set\\dataset\\"
name_path_list = []
file_name_etf =[]
for file in os.listdir(name_path):
    name_path_list.append(os.path.join(name_path, file))
    file_name_etf.append(file[:-4])    

    
###  define the datetime we want

start = dt.datetime(2013,12,1)
end = dt.datetime(2019,1,1)



count = 0
for file in file_path_list1 :
    download_path = file
    file_path_list = []
    file_name =[]
    for file in os.listdir(download_path):
        file_path_list.append(os.path.join(download_path, file))
        file_name.append(file)
    
     
    save_path = "C:\\Users\\USER\\github\\HW1--data-mining\\HW1\\ETF_data_set\\2014to2018RE_data_weekly\\{}\\".format(file_name_etf[count])
    if os.path.exists(save_path) and os.path.isdir(save_path):
            print(save_path + '資料夾已存在')
    else:
            os.makedirs(save_path)
            print('已新增資料夾')
            
           
    ### filter data and run through the function 
    
    
    data = load_data(file_path_list[0])
    
        
    listtime = data['Date']
    listdate = []
    
    ### turn str into datetime type
    
    for time in listtime :
        try :
            listdate.append(dt.datetime.strptime(time,'%Y-%m-%d'))
        except:
            listdate.append(dt.datetime.strptime(time,'%Y/%m/%d'))
    data['Date'] = listdate    ### trun it into datetime
    
    data = data.iloc[:,1:]
    ### filter all data on the dateline

    filter = (data['Date'] <= end )
    clean_data = data[filter]
    filter = (clean_data['Date'] >= start)
    clean_data = clean_data[filter]
    clean_data.reset_index(inplace = True)            
    
    ### clean data
    
    etf_list =  clean_data.columns.to_list()
    date_list = clean_data['Date'].iloc[1:]
    date_list = date_list.reset_index()
    date_list = date_list.iloc[:,1]
    etf_list = etf_list[2:]
        
    
    ### calculate the return rate 
    
    
    df = pd.DataFrame()
    for name in etf_list :
        lis = []
        return_list =return_rate(clean_data,name,lis)
        df[name] = return_list
    df = pd.concat([date_list,df],axis=1)
    ### save the data
    
    df.to_csv(save_path+file_name_etf[count]+'_return'+'.csv')
    count += 1

已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾
已新增資料夾

In [7]:


data = load_data(file_path_list[0])

In [33]:
a = clean_data['Date'].iloc[1:]

In [34]:
a.reset_index()

    index       Date
0       1 2014-02-01
1       2 2014-03-01
2       3 2014-04-01
3       4 2014-05-01
4       5 2014-06-01
5       6 2014-07-01
6       7 2014-08-01
7       8 2014-09-01
8       9 2014-10-01
9      10 2014-11-01
10     11 2014-12-01
11     12 2015-01-01
12     13 2015-02-01
13     14 2015-03-01
14     15 2015-04-01
15     16 2015-05-01
16     17 2015-06-01
17     18 2015-07-01
18     19 2015-08-01
19     20 2015-09-01
20     21 2015-10-01
21     22 2015-11-01
22     23 2015-12-01
23     24 2016-01-01
24     25 2016-02-01
25     26 2016-03-01
26     27 2016-04-01
27     28 2016-05-01
28     29 2016-06-01
29     30 2016-07-01
30     31 2016-08-01
31     32 2016-09-01
32     33 2016-10-01
33     34 2016-11-01
34     35 2016-12-01
35     36 2017-01-01
36     37 2017-02-01
37     38 2017-03-01
38     39 2017-04-01
39     40 2017-05-01
40     41 2017-06-01
41     42 2017-07-01
42     43 2017-08-01
43     44 2017-09-01
44     45 2017-10-01
45     46 2017-11-01
46     47 2017-12-01
47     48 2018-01-01
48     49 2018-02-01
49     50 2018-03-01
50     51 2018-04-01
51     52 2018-05-01
52     53 2018-06-01
53     54 2018-07-01
54     55 2018-08-01
55     56 2018-09-01
56     57 2018-10-01
57     58 2018-11-01
58     59 2018-12-01

In [24]:
filter = (data['Date'] <= end )
clean_data = data[filter]
filter = (clean_data['Date'] >= start)
clean_data = clean_data[filter]
clean_data.reset_index(inplace = True)