In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import requests
import os
from pathlib import Path, PureWindowsPath

In [2]:
def load_data (etfcsvpath) :
    etfdata = pd.read_csv(etfcsvpath,encoding= 'ISO-8859-1')
    return etfdata

def find_longer (etfdata,path):
    ETF_name = etfdata['Symbol'].to_list()
    lenlist = []
    for name in ETF_name :
        df = pd.read_csv(path+name+'.csv')
        lenlist.append(len(df))
        maxlen =max(lenlist)
    return maxlen

def find_long_name (maxlen,path) :
    lonestname = []
    for name in ETF_name :
        df = pd.read_csv(path+name+'.csv')
        if len(df) == maxlen :
            lonestname.append(name)
    return lonestname

def merge (pathlong,path) :
    longestdate = pd.read_csv(pathlong)
    longestdate = longestdate[['Date','Adj Close']]
    for name in ETF_name :
        #if name == 'ADRE'
            #pass
        #else :
        df = pd.read_csv(path)
        df = df[['Date','Adj Close']]
        longestdate = longestdate.merge(df,how='outer',on = 'Date')
    return longestdate

def name_all_columns(longetfname,longestdate,savepath) :
    columnsname = ['Date',longetfname]
    for name in ETF_name :
        columnsname.append(name)
    longestdate.columns = columnsname
    mergealldf = longestdate.drop(longestdate.iloc[:,1:2],axis=1)
    mergealldf.to_csv(savepath)

In [7]:
etfdata = load_data('C:\\Users\\USER\\github\\HW1--data-mining\\HW1\\filter_date_data_ETF(developing country).csv')

In [6]:
pd.read_csv('C:\\Users\\USER\\github\\HW1--data-mining\\HW1\\Download\\'+'ADRE'+'.csv')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-11-01,12.225000,13.250000,12.225000,13.250000,9.088040,35200
1,2002-12-01,13.375000,13.725000,12.722500,12.722500,8.726233,89200
2,2003-01-01,12.875000,13.502500,11.875000,12.000000,8.257204,386400
3,2003-02-01,12.092500,12.162500,11.250000,11.750000,8.085176,135200
4,2003-03-01,12.000000,12.225000,10.995000,11.440000,7.871867,250800
5,2003-04-01,11.500000,13.250000,11.500000,12.602500,8.685962,98000
6,2003-05-01,12.602500,13.750000,12.312500,13.725000,9.459616,44400
7,2003-06-01,13.725000,15.062500,13.725000,14.125000,9.735306,208800
8,2003-07-01,14.200000,16.250000,13.937500,16.125000,11.205283,68400
9,2003-08-01,14.500000,16.242500,13.625000,16.232500,11.279984,218400
10,2003-09-01,16.250000,17.497499,15.875000,15.875000,11.031555,188800
11,2003-10-01,16.250000,17.997499,16.250000,17.540001,12.221556,139200
12,2003-11-01,17.502501,17.875000,16.882500,17.575001,12.245949,156800
13,2003-12-01,17.112499,19.445000,16.987499,18.625000,12.977571,388000
14,2004-01-01,19.225000,19.500000,18.250000,18.572500,13.429933,423600
15,2004-02-01,18.942499,19.500000,18.252501,18.947500,13.701095,434000
16,2004-03-01,19.080000,19.750000,15.000000,18.722500,13.538396,431200
17,2004-04-01,18.750000,19.242500,17.057501,17.067499,12.356914,364000
18,2004-05-01,17.222500,17.807501,15.745000,17.397499,12.595840,370800
19,2004-06-01,17.307501,17.577499,16.392500,17.125000,12.398549,127200
20,2004-07-01,17.017500,17.500000,13.750000,16.645000,12.159255,107200
21,2004-08-01,16.512501,17.325001,15.630000,17.155001,12.531812,120800
22,2004-09-01,17.342501,18.629999,17.100000,17.980000,13.134475,181200
23,2004-10-01,18.250000,19.129999,17.892500,18.592501,13.630853,251200
24,2004-11-01,18.627501,21.129999,18.570000,20.160000,14.780053,730400
25,2004-12-01,20.250000,21.250000,19.500000,20.930000,15.344563,467600
26,2005-01-01,21.500000,21.500000,19.625000,20.775000,15.312531,859200
27,2005-02-01,20.730000,23.747499,20.727501,22.815001,16.816141,676400
28,2005-03-01,23.312500,23.690001,20.462500,21.195000,15.622094,1332400
29,2005-04-01,21.840000,22.312500,19.842501,20.500000,15.134226,684400
...,...,...,...,...,...,...,...
168,2016-11-01,35.369999,35.369999,32.000000,33.400002,32.062416,172500
169,2016-12-01,33.320000,33.639999,31.780001,32.250000,30.958464,217400
170,2017-01-01,32.740002,35.619999,32.650002,35.220001,33.978477,144000
171,2017-02-01,35.400002,37.060001,35.099998,35.910000,34.644154,167900
172,2017-03-01,36.090000,37.099998,35.259998,36.770000,35.473839,195000
173,2017-04-01,36.779999,37.250000,36.029999,36.840000,35.561760,121800
174,2017-05-01,36.980000,39.090000,36.599998,38.049999,36.729778,236400
175,2017-06-01,38.230000,39.490002,37.750000,38.529999,37.193123,136200
176,2017-07-01,38.459999,41.830002,38.200001,41.470001,40.199314,150500
177,2017-08-01,42.000000,42.770000,40.610001,42.650002,41.343163,205000
178,2017-09-01,42.770000,44.000000,40.790001,42.119999,40.829391,253800
179,2017-10-01,42.209999,43.779999,42.080002,42.910000,41.986732,193300
180,2017-11-01,43.169998,44.139999,41.599998,42.389999,41.477924,259100
181,2017-12-01,42.139999,43.169998,41.369999,43.130001,42.202000,345600
182,2018-01-01,43.639999,48.919998,43.639999,48.080002,47.161613,330800
183,2018-02-01,47.320000,47.950001,42.000000,45.270000,44.405289,337800
184,2018-03-01,45.330002,46.990002,43.340000,44.580002,43.728470,194900
185,2018-04-01,44.290001,44.759998,42.400002,43.840000,43.011009,125000
186,2018-05-01,43.570000,45.419998,42.110001,42.529999,41.725780,161300
187,2018-06-01,43.080002,43.939999,40.009998,40.869999,40.097168,385700
188,2018-07-01,40.470001,43.459999,40.240002,42.529999,41.948883,235000
189,2018-08-01,42.419998,42.419998,39.450001,41.040001,40.479240,328900
190,2018-09-01,40.509998,41.080002,38.820000,40.500000,39.946621,172100
191,2018-10-01,40.790001,41.049999,35.830002,37.459999,37.332909,228300
192,2018-11-01,38.000000,39.200001,36.590000,38.450001,38.319553,149500
193,2018-12-01,39.200001,39.660000,34.970001,36.070000,35.947624,109400
194,2019-01-01,35.680000,40.169998,35.680000,40.049999,40.049999,178000
195,2019-02-01,40.009998,41.169998,39.200001,40.650002,40.650002,84400
196,2019-03-01,40.730000,41.380001,39.270000,41.360001,41.360001,55900
197,2019-03-15,41.230000,41.376202,41.230000,41.230000,41.230000,2330